* {
    font-family: serif;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: #222;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

header {
    padding: 2em 0;
}

header h1 {
    font-size: 3em;
}

header span {
    font-size: 1.5em;
    color: #888;
    display: table;
    margin: 0 auto;
}

html {
    font-size: 16px;
    margin-top: 3em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    background: #0b1e9c;

}

nav a {
    padding: 0.5em 2em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #102de8;
}

section {
    margin: 1em 0;
    padding-top: 1em;
    min-height: 5em;
}

section>p {
    margin: 1em;
}

section ul {
    padding-left: 1.5em;
}


footer {
    margin-top: 15em;
    margin-bottom: 1em;
    background: #a6b0ed;
    color: #222;
    padding: 1em 0;
    text-align: center;
}

.container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    background: #a6b0ed;
    padding: 10px;
    max-width: 1000px;
}

.container img {
    border: 1px solid #333;
}

.flexItem {
    padding-top: 30px;
    margin-left: 1em;
    padding: 11px;
    background: #6073e6;
    max-width: 220px;
    border-radius: 1em;
}